*{
    padding: 0;
    margin: 0;
}

button {
    margin: 0.2em 0.1em;
    border: 1px solid rgb(251, 249, 249) !important;
}

button span, button i{
    color: white;
}

#buttons{
    position: fixed;
    bottom: 10px;
}

.remote-video{
    width: 100vw;
    height: 100vh;
    background: black;
}

.remote-video video{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.local-video{
    position: absolute;
    top: 76vh;
    left: 78vw;
    width: 20vw;
    height: 20vh;
    background: rgb(104, 80, 80);
}

.local-video video{
    width: 100%;
    height: auto;
    object-fit: cover;
}